# Dépendances
node_modules/
.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.next/

# Variables d'environnement
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
*.db
*.db-journal
